#mysidebar{
    display: none;
     border: 1px solid red;
     width: 250px;
     background-color: rgb(1, 0, 0);
     height: 700px;
     transition : 1s;
    /* margin-top: -50px; */
     

     
}
#mysidebar a { font-size: x-large;
    color: white;
     text-decoration: none;
     padding-top: 100px;
    
    
     justify-content: center;}

     #mysidebar a:hover {
        color: #f1f1f1;     
}
#closebutton  { 
    margin-left: 150px;
   
    color: white;
   
   
}
.links{
    margin-top: 200px;
    margin-left: 30px;
}
